.card-title{
    color:brown;
    text-align: center;
    padding-top: 50px;
}
.card-text{
    color:brown;
    text-align: center;
    size: 5px;
}

.card-deck{
    padding-bottom: 50px;
}
.card-deck,.img{

    width: 600px;
    height: 380px;
}

